USE [master]
GO
/****** Object:  Database [TRANSPORTARE]    Script Date: 23/09/2019 09:53:57 ******/
CREATE DATABASE [TRANSPORTARE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRANSPORTARE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TRANSPORTARE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRANSPORTARE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TRANSPORTARE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRANSPORTARE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRANSPORTARE]
GO
/****** Object:  Table [dbo].[Mensajero]    Script Date: 23/09/2019 09:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajero](
	[IdMensajero] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Documento] [varchar](15) NOT NULL,
	[Direccion] [varchar](50) NULL,
	[FechaIngreso] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdSexo] [int] NOT NULL,
	[IdUbigeo] [varchar](6) NOT NULL,
 CONSTRAINT [PK_Mensajero] PRIMARY KEY CLUSTERED 
(
	[IdMensajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaGeneral]    Script Date: 23/09/2019 09:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaGeneral](
	[IdTablaGeneral] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Grupo] [int] NULL,
	[GrupDes] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTablaGeneral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 23/09/2019 09:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[IdUbigeo] [varchar](6) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Padre] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUbigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ubigeo] ADD  DEFAULT (NULL) FOR [Padre]
GO
ALTER TABLE [dbo].[Mensajero]  WITH CHECK ADD  CONSTRAINT [FK_Mensajero_Ubigeo1] FOREIGN KEY([IdUbigeo])
REFERENCES [dbo].[Ubigeo] ([IdUbigeo])
GO
ALTER TABLE [dbo].[Mensajero] CHECK CONSTRAINT [FK_Mensajero_Ubigeo1]
GO
USE [master]
GO
